<!-- login.handlebars -->

<h2>Por favor, completar Email y contraseña para continar.</h2>

<form action="/users/login" method="post">
  <!-- Campos del formulario para ingresar email y contraseña -->
  <input type="text" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
{{#if message}}
  <p>{{message}}</p>
{{/if}}