<!-- register.handlebars -->

<h2> Por favor, Completar los datos para registrarse y continuar</h2>
<form action="/users/register" method="post">
  <input type="text" name="first_name" placeholder="Nombre" required>
  <input type="text" name="last_name" placeholder="Apellido" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="rol" placeholder="Rol" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Register</button>
</form>